<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<link href="/style/basic.css" rel="stylesheet" type="text/css">
<link href="/style/custom.css" rel="stylesheet" type="text/css">
<link href="/style/explore.css" rel="stylesheet" type="text/css">


<%- include('../partials/header') %>
<main>
    <div class="explore-container">
        <h1>Explore</h1>
        <div class="posts">
            <% images.forEach((image) => { %>
                <div class="thumbnail">
                    <a href="/images/<%= image._id %>">
                        <img class="image-explore" src="<%= image.url %>" alt="image post">
                    </a>
                </div>

            <% }) %>
        </div>


    </div>

</main>


<%- include('../partials/footer') %>
