<link href="/style/basic.css" rel="stylesheet" type="text/css">
<link href="/style/custom.css" rel="stylesheet" type="text/css">
<link href="/style/testcaman.css" rel="stylesheet">

<meta charset="UTF-8">

<%- include('../partials/header') %>
<main>
    <div align="center">


        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="card">
                    <div class="card-body">

                        <form id="my-form" action="/images" method="POST" enctype="multipart/form-data" class="clearfix">
                            <canvas  class="pic-card"  id="canvas" style="background-color: #ececec"></canvas>
                            <div class="custom-file mb-3">

                                <br>
                                <div class="contain row">
                                    <input class="row" type="file" name="image" id="upload-file">
                                    <input type="text" id="caption" name="caption"
                                           placeholder="Add a caption">
                                </div>
                                <!-- Hidden input -->
                                <input type="file" id="hidden" name="editedImage" style="display:none;">
                                <!---           <button id="displayFilters"> Filters</button>--->

                                <!--
                                <div class="disappear-card ">
                                    <div class="disappear ">
                                        <h4 class="text-center my-3 ">Filters</h4>
                                        -->

                                        <div class="row my-4 text-center ">
                                            <div class="col-md-3">
                                                <div class="btn-group btn-group-sm">
                                                    <input type="button"
                                                           class=" "
                                                           value="-">
                                                    <input type="button" class="btn btn-primary btn-block" disabled
                                                           value="Brightness">
                                                    <input type="button" class=""
                                                           value="+" style="margin: auto">
                                                </div>
                                            </div>

                                            <div class="col-md-3 ">
                                                <div class="btn-group btn-group-sm">
                                                    <input type="button" class=""
                                                           value="-">
                                                    <input type="button" class="btn btn-primary btn-block" disabled
                                                           value="Contrast">
                                                    <input type="button" class=""
                                                           value="+">
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="btn-group btn-group-sm">
                                                    <input type="button"
                                                           class=""
                                                           value="-">
                                                    <input type="button" class="btn btn-primary btn-block" disabled
                                                           value="Saturation">
                                                    <input type="button" class=""
                                                           value="+">
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="btn-group btn-group-sm">
                                                    <input type="button" class=""
                                                           value="-">
                                                    <input type="button" class="btn btn-primary btn-block" disabled
                                                           value="Vibrance">
                                                    <input type="button" class=""
                                                           value="+">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row mb-3 ">
                                            <div class="col-md-3">
                                                <input type="button"
                                                       class="btn btn-primary btn-block"
                                                       value="Vintage">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="button" class="btn btn-primary btn-block"
                                                       value="Lomo">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="button"
                                                       class="btn btn-primary btn-block"
                                                       value="Clarity">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="button"
                                                       class="btn btn-primary btn-block"
                                                       value="Sin City">
                                            </div>
                                        </div>

                                        <div class="row  ">
                                            <div class="col-md-3 ">
                                                <input type="button"
                                                       class="btn btn-primary btn-block"
                                                       value="Cross Process">
                                            </div>

                                            <div class="col-md-3">
                                                <input type="button"
                                                       class="btn btn-primary btn-block"
                                                       value="Pinhole">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="button"
                                                       class="btn btn-primary btn-block"
                                                       value="Nostalgia">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="button"
                                                       class="btn btn-primary btn-block"
                                                       value="Her Majesty">
                                            </div>
                                        </div>

                                        <div class="row mt-5 ">
                                            <div class="col-md-6">
                                                <input type="button" id="uploadBtn" class="btn-upload-remove" value="Upload">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="button" id="revert-btn" class="btn-upload-remove "
                                                       value="Remove filters">
                                            </div>
                                        </div>
                                        <!--
                                    </div>
                                </div> -->
                            </div>


                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>

    </div>

</main>

<%- include('../partials/footer') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script>
<script src="/filter/camantestfilter.js"></script>

