<link href="/style/basic.css" rel="stylesheet" type="text/css">
<link href="/style/custom.css" rel="stylesheet" type="text/css">
<link href="/style/testcaman.css" rel="stylesheet">

<meta charset="UTF-8">

<%- include('../partials/header') %>
<main>
    <div align="center">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="card">
                    <div class="card-body">

                        <form id="my-form" action="/images" method="POST" enctype="multipart/form-data"
                              class="clearfix">
                            <canvas class="pic-card" id="canvas" style="background-color: #ececec"></canvas>
                            <div class="custom-file mb-3">

                                <br>
                                <div class="contain row">
                                    <input class="row" type="file" name="image" id="upload-file">
                                    <input type="text" id="caption" name="caption"
                                           placeholder="Add a caption">
                                </div>
                                <!-- Hidden input -->

                                <div class="disappear-card ">
                                    <div class="disappear ">
                                        <div class="close" id="close">+</div>
                                        <br>


                                        <div class="row my-4 text-center ">
                                            <div class="col-md-3">
                                                <div class="btn-group btn-group-sm">
                                                    <input type="button"
                                                           class="filter-btn brightness-remove btn btn-info"
                                                           value="-">
                                                    <input type="button" class="btn btn-secondary btn-disabled" disabled
                                                           value="Brightness">
                                                    <input type="button" class="filter-btn brightness-add btn btn-info"
                                                           value="+" style="margin: auto">
                                                </div>
                                            </div>

                                            <div class="col-md-3 ">
                                                <div class="btn-group btn-group-sm">
                                                    <input type="button" class="filter-btn contrast-remove btn btn-info"
                                                           value="-">
                                                    <input type="button" class="btn btn-secondary btn-disabled" disabled
                                                           value="Contrast">
                                                    <input type="button" class="filter-btn contrast-add btn btn-info"
                                                           value="+">
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="btn-group btn-group-sm">
                                                    <input type="button"
                                                           class="filter-btn saturation-remove btn btn-info"
                                                           value="-">
                                                    <input type="button" class="btn btn-secondary btn-disabled" disabled
                                                           value="Saturation">
                                                    <input type="button" class="filter-btn saturation-add btn btn-info"
                                                           value="+">
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="btn-group btn-group-sm">
                                                    <input type="button" class="filter-btn vibrance-remove btn btn-info"
                                                           value="-">
                                                    <input type="button" class="btn btn-secondary btn-disabled" disabled
                                                           value="Vibrance">
                                                    <input type="button" class="filter-btn vibrance-add btn btn-info"
                                                           value="+">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row mb-3 ">
                                            <div class="col-md-3">
                                                <input type="button"
                                                       class="filter-btn vintage-add btn btn-dark btn-block"
                                                       value="Vintage">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="button" class="filter-btn lomo-add btn btn-dark btn-block"
                                                       value="Lomo">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="button"
                                                       class="filter-btn clarity-add btn btn-dark btn-block"
                                                       value="Clarity">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="button"
                                                       class="filter-btn sincity-add btn btn-dark btn-block"
                                                       value="Sin City">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 ">
                                                <input type="button"
                                                       class="filter-btn crossprocess-add btn btn-dark btn-block"
                                                       value="Cross Process">
                                            </div>

                                            <div class="col-md-3">
                                                <input type="button"
                                                       class="filter-btn pinhole-add btn btn-dark btn-block"
                                                       value="Pinhole">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="button"
                                                       class="filter-btn nostalgia-add btn btn-dark btn-block"
                                                       value="Nostalgia">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="button"
                                                       class="filter-btn hermajesty-add btn btn-dark btn-block"
                                                       value="Her Majesty">
                                            </div>
                                        </div>

                                        <div class="row mt-5 ">
                                            <div class="col-md-6">
                                                <input type="button" id="uploadBtn" class="btn btn-primary btn-block"
                                                       value="Upload">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="button" id="revert-btn" class="btn btn-danger btn-block"
                                                       value="Remove filters">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </form>
                        <button class="Filterbtn" id="displayFilters"> Filters</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<%- include('../partials/footer') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script>
<script src="/filter/camantestfilter.js"></script>

