<link href="/style/basic.css" rel="stylesheet" type="text/css">


<footer class="footer footer-dark footer-expand-lg bg-dark ">
    <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>hello</p>
        </div>
    </div>
    </div>
</footer>
