
<title> soen 341 - insta clone </title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

<link href="/style/navbar.css" rel="stylesheet" type="text/css">

<body>

<nav id="header-navbar" class="navbar navbar-expand-md navbar-light sticky-top border-bottom border-dark" aria-label="Eighth navbar example">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Container</a> -->
          <!-- Logo - Mobile -->
          <a class="navbar-brand d-md-none" href="/">
            <img src="/images/logo.png" width="110" height="40" alt="Instagram" title="Instagram" />
          </a>
          <!-- /Logo - Mobile -->

          <!-- Navbar Toggle Button -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header-navbar-links" aria-controls="header-navbar-links" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- /Navbar Toggle Button -->


          <div class="collapse navbar-collapse" id="header-navbar-links">
            <!-- Logo - Desktop -->
            <a class="navbar-brand d-none d-md-inline-block" href="/">
              <img src="/images/logo.png" width="110" height="40" alt="Instagram" title="Instagram" />
            </a>
            <!-- /Logo - Desktop -->

            <!-- Search Bar -->
            <!--
            <form class="navbar-searchbar searchbar search-icon d-flex align-items-center pt-2 pb-2 m-0">
              <input class="form-control input-searchbar" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-navbar-button search-icon" type="button" onclick="location.href ='/search';">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
              </button>
            </form>
            -->
            <!-- /Search Bar -->

            <!-- Navbar Right Links -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <!-- Home Feed -->
                <a class="nav-link" id="nav-feed" href="/">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-house-door" viewBox="0 0 16 16">
                    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
                  </svg>
                </a>
                <!-- /Home Feed -->
              </li>

              <li class="nav-item">
                <!-- Explore -->
                <a class="nav-link" id="nav-image" href="/images">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-compass" viewBox="0 0 16 16">
                    <path d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    <path d="M6.94 7.44l4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z"/>
                  </svg>
                </a>
                <!-- /Explore -->
              </li>

              <li class="nav-item">
                <!-- Post -->
                <a class="nav-link" id="" href="/images/new">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-card-image" viewBox="0 0 16 16">
                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                  </svg>
                </a>
                <!-- /Post -->
              </li>

              <li class="nav-item">
                <!-- User & User Menu dropdown -->
                <div class="nav-link btn-group" id="nav-user">
                  <button type="button" class="btn btn-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="nav-profile">
                   <div class="nav-user in-line">
                      <img src="<%= locals.pfp.url %>" width="25" height="25"/>
                   </div>

                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="/profile">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-person-circle" viewBox="0 0 16 16">
                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                        Profile
                      </a>
                    </li>

                    <li>
                      <a class="dropdown-item" type="button" onclick="logoutButton();">
                        Log Out
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- /User & User Menu dropdown -->
              </li>
            </ul>
            <!-- /Navbar Right Links -->
          </div>
        </div>
      </nav>

</nav>

</body>

<!-- Delete this (does not work)
<script src="/scripts/loadDoc.js" ></script>
-->
<script src="/scripts/header.js" ></script>



