
/*make the footer in too a sticky footer*/
html, body {
  /*
  height: 100%;
  margin: 0; */
}
main {

  min-height: 100%;
  margin: 0 auto -50px;
    padding-bottom: 80px;

}

/*putting the height of the footer*/
.footer,
.push {
  height: 50px;
}

.navbar{
  background-color: white;
}
.navbar a{
  color: black;
}
.nav-div{
    border: #dbdbdb;
}
main{
background-color: #f9f9f9;
}


