/*the style for the navbar buttons*/
.btn-navbar-button{
    outline-color: black;
    outline-style: auto;
    outline-width: 5px;
    background-color: azure;
}


.login-input{
    margin-bottom: 10px;
}

.btn-login-card {
    background-color: rgba(0,0,0,0.6);
    padding-top: 20px;
}
.btn-login-background{
    background-color: #66FCF1;
}

.btn-button{
    background-color: #1F2833;
    color: white;
}


.register-label{
    float: left;
    width: 40%;
    text-align: left;
    color: #C5C6C7;
}
.register-input {
    float: left;
    width: 60%;
}

.card {
    max-width: 1100px;
    margin: 0 0px;
    overflow: auto;
    padding:40px 0;
    align-self: flex-end;
    background: #a9f5ef;
    border-inline-color:#a9f5ef;
    border-color:#a9f5ef ;

.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
}

.galleryimage{

    height: 150px;
    width: 150px;

}