/*the style for the navbar buttons*/

/*---------div-----------*/
.btn-card {
    background-color: white;
    padding-top: 20px;
    width: 350px;
    align-items: center;
}
.card {
    max-width: 1100px;
    padding: 20px 0;
    align-self: flex-end;
    margin-bottom: 20px;
    align-items: center;
}
/*-------button-------*/
.btn-button{
    background-color: royalblue;
    color: white;
    width: 300px;
    alignment: center;
}


