
.button{
    background-color: royalblue;
    border-color: royalblue;
    color: white;
    alignment: left;
    display: inline-block;
    font-max-size: 20px;
}
.filters{
    display: flex;
    position: relative;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 0;
}
.crop-image{

}
.sepia{
    filter: sepia(50%);
}
.gray-scale{
    filter: grayscale(50%);
}
.saturate{
    filter: saturate(50%);
}