.box {
    padding:80px;
    display:flex;
    margin:auto; /* center horizontally; 50px margin on top+bottom */
    align-items: center; /* center the content (post-body) */
    justify-content: center; /* center horizontally */
}
.body {
    display:block;
    padding: 0;
    max-height:inherit; /* this child div does not expand outside of parent (post-card) */
    /* border: #dbdbdb solid 1px; */
}
