
.username, .user-friends{
font-size: 20px;
    font-weight: bold;
}

.comments, .description {
font-size: 20px;

}

.feed-btn{
    /* outline: black auto 5px; */
    background-color: #ffffff;
}

.feed-container{
       /*  display: flex;*/
       /* padding: 0 30% 100px; */
        background-color: #fafafa;
        align-items: center;
        justify-content: center;

}
.feed-content {
    display: flex;
    padding: 20px;
    border: 1px solid #dbdbdb;
    width: 505px;
    margin: 50px auto; /* center horizontally; 50px margin on top+bottom */
    align-items: center; /* center horizontally */
    justify-content: center; /* center horizontally */
    background-color: #ffffff;
}
.post-container {
    position: relative;
}
div.post {
    width: auto;
    object-fit: cover; /* makes img match the width by cropping */
    overflow-x: hidden;
}
img.post {
    width: 500px;
    object-position: 50% 50%;
    margin: 0 auto; /* center img in div */
    display: block; /* center img in div */
}

.line1{
    display: inline-block;
}
div.comments {
    padding:10px;
}
.more {
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    display: block;
    align-self: center;
    text-align: center;
}
.new-comment{
    border-top: 1px solid #dbdbdb;
    width: inherit;
    position: relative;
    padding:10px;
    /* margin: 1px; */
}
div.input-comment {
}
input.input-comment{
    border:0;
    outline:none;
}
.submit-btn{
    position: absolute;
    right: 0;
}
