
.username{
font-size: 35px;
    font-family: 'Brush Script MT', cursive;

}

.user-friends{
font-size: 20px;
}

.comments{
font-size: 20px;
    font-family: Georgia, serif;

}

.description{
font-size: 18px;
    font-family: Georgia, serif;

}

.feed-btn{
    /* outline: black auto 5px; */
    background-color: #ffffff;
}
.feed-content {
    display: flex;
    margin: 50px;
    padding: 10px;
     border: 1px solid #dbdbdb;
    width: 400px;
    align-items: center;
        justify-content: center;
    background-color: #ffffff;


}
.feed-container{
       /*  display: flex;*/
        padding: 0 30% 100px;
        background-color: #fafafa;
        align-items: center;
        justify-content: center;

}
div.post {
    width: 300px;
    object-fit: cover; /* makes img match the width by cropping */
    overflow-x: hidden;
}
img.post {
    width: 300px;
    object-position: 50% 50%;
    margin: 0 auto; /* center img in div */
    display: block; /* center img in div */
}

.line1{
    display: inline-block;
}

.input-comment{
    border:0;
}
.submit-btn{
position: absolute;
    right:10px;
}
.new-comment{
    width: inherit;
    position: relative;
}
