
.username{
font-size: 35px;
    font-family: 'Brush Script MT', cursive;

}

.user-friends{
font-size: 20px;
}

.comments{
font-size: 20px;
  font-family: Georgia;

}

.description{
font-size: 18px;
    font-family: Georgia;

}

.feed-btn{
    outline-color: black;
    outline-style: auto;
    outline-width: 5px;
    background-color: azure;
}
.feed-content {
    padding:10px;
    border: 2px solid #dbdbdb;
    background-color: #ffffff;


}
.feed-container{
        display: flex;
        background-color: #fafafa;

    justify-content: center;

/*
    background-color: pink;
    border: 5px solid black;
    display: flex;
    padding:10px;*/
}
.line1{
    display: inline-block;
}

.input-comment{
    border:0;
}
.submit-btn{
position: absolute;
    right:0;
}
.new-comment{
    position: relative;
}
.line1{

}