#header-navbar {
  background-color: white;
  min-height: 60px;
}

#nav-user .dropdown-toggle {
  padding: 0;
  color: black;
  text-decoration: none;
}

@media (min-width: 768px) {
  #header-navbar-links {
    display: flex !important;
    justify-content: space-between !important;
  }
}

.input-searchbar {
  background-color: #f9f9f9;
  /*height: 25px;*/
  min-width: 206px;
}



/*nav {*/
/*    background-color: white;*/
/*}*/

/*!*---------button-----------*!*/
/*.btn-navbar-button {*/
/*    background-color: #ffffff;*/
/*    visibility: visible;*/
/*}*/

/*.dropmenu-options {*/
/*    display: inline-block;*/
/*    background: white;*/
/*    color: black;*/

/*}*/

/*!*---------input-----------*!*/
/*.input-searchbar {*/
/*    background-color: #f9f9f9;*/
/*    height: 25px;*/
/*    !*width: 100%;*!*/
/*    width: 206px;*/

/*}*/

/*!*---------placement---------*!*/
/*.flex-boxx {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*!*.search-icon {*!*/
/*!*    margin-right: 60%;*!*/
/*!*}*!*/

/*.insta-logo {*/
/*    margin-right: 20%;*/
/*    margin-left: 10%;*/
/*}*/

/*.searchbar {*/
/*    padding-top: 15px;*/
/*}*/

/*.btn-sm {*/
/*    padding: 0px;*/
/*}*/

/*!*-------other-----*!*/
/*.navbar {*/
/*    min-height: 60px;*/
/*}*/

/*.dropdown-menu {*/
/*    right: 0;*/
/*    left: auto;*/
/*}*/




