/*the style for the Profile */

.center {
  display: block;
  margin-left: 100px;
  margin-right: auto;
  width: 50%;
}
.cardd {
    max-width: 1100px;
    margin: 0 0px;
    overflow: auto;
    padding:40px 0;
    align-self: flex-end;
}
.card-body-p{
     border-radius: 20%;
}
.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
}

.galleryimage{
    height: 200px;
    width: 250px;
    border-radius: 20%;
}
.container {
    max-width: 1100px;
    margin: 0 0px;
    overflow: auto;
    padding: 40px 0;
    align-self: flex-end;
    background: #a9f5ef;
    border-inline-color: #a9f5ef;
}



