/*the style for the Profile */

.profile-container{
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 0 auto 30px;
    max-width: 935px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: relative;
    vertical-align: baseline;
}
.profile-header{
    max-height: 300px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    margin-bottom: 20px;

    /* Fixing un clickable buttons issue (see modal class) */
    z-index: 15;

}
.user-container{
    float:left;
    padding:5px;
    margin: 30px;
    border-top: 44px;
    border-color: grey;
    display: inline-block;
}
#user-pic{
    display: inline-block;
    width: 200px;
    align-self: center;
    align-items: stretch;
}
#user-info{
    display: inline-block;
    margin-left:40px ;
}
.pic{
    justify-content: center;
    border-radius: 50%;
}
.name{
    margin-bottom: 20px;
    font-size: 30px;
    font-family: "Calibri Light", monospace;
    display: inline-block;

}
.info{
    margin-bottom: 20px;
    font-size: 20px;
    font-style: normal;
}
.user-bio{
    font-size: 15px;
    font-style: normal;
    margin-bottom: 20px;
    font-family: "Calibri Light", monospace ;
}
.galleryimage{
    margin-left: 20px;
    margin-bottom: 20px;
}
.group-of-three {
    display: flex;

}
.img-per-row {
    display: inline-block;
    width: 30%;
}
.button{
    background-color: royalblue;
    border-color: royalblue;
    color: white;
    alignment: center;
    display: inline-block;
    font-max-size: 20px;
}
.group{
    display: inline-block;
    alignment: center;
}


div.modal .modal-header .modal-body .modal-content {
    /* modal divs should be behind other divs until clicked on */
    z-index: 5;
    /* This alternative solution wouldn't work: display none */
}
div.modal {
    /* overlay on the whole page */
    display: block;
}
div.modal-content {
    /* limit size of the "popup" box */
    display: block;
    margin: 100px auto;
    width: 450px;
}
