.canvas {
  margin: auto;
  background: #ececec;
  width: 100%;
}

.btn-disabled {
  color: #fff !important;
}
.btn-info{
    background-color:white;
}
.btn-secondary{
      background-color:blue;
}

