.canvas {
  margin: auto;
  background: #ececec;
  width: 100%;
}

.btn-disabled {
  color: #fff !important;
}
.btn-info{
    background-color:white;
}
.btn-secondary{
      background-color:blue;
}

.contain{
    display: inline-list-item;
    width: 50%;
}
.disappear-card {
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
}
/*
.modal-contents {
	width: 500px;
}*/
.disappear{
	height: 300px;
	width: 500px;
	text-align: center;
	padding: 20px;
	border-radius: 4px;

}

.card{
    overflow: auto;
}
.triple-btn{
	margin: 10%;
}
/*.row{
	bs-gutter-x: 6rem;
}*/