<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<link href="/style/basic.css" rel="stylesheet" type="text/css">
<link href="/style/custom.css" rel="stylesheet" type="text/css">

<%- include('partials/header')  %>

<main>
    <h1>Feed</h1>
    <br>
    <div>


     <! -- User profilePic---name----unfollowOption---->

    <img src="https://estaticos.elperiodico.com/resources/jpg/3/2/1504886858323.jpg" width="70" >
    <label for="name"><b>badgalriri</b></label>
    <button type="unfollow">Unfollow</button>

     <! ---post----likeButton-----caption->
    <br><br>
    <img src="https://data.whicdn.com/images/312031597/original.jpg" id="post1" width="300" height="300">
    <br>
    <button type="like">Like</button>
    <br>
    <p>Summer 2021 hopefully</p>

    <! ---posted comments section-------->
    <! ---users profile pic----username-----comment--more comments button----->

    <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTQ3NTI2OTA4NzY5MjE2MTI4/drake_photo_by_prince_williams_wireimage_getty_479503454.jpg"  width="30" height="30">
    <label for="name"><b>Drake</b></label>
    <p>yesss gurlll 😍 </p><!---place it in a box>
    <button type="more comments">more</button>

    <! ---to comment-------->
    <! ---users profile pic----username-----editbox comment--post button---->
    <br>
    <img src="https://media.pitchfork.com/photos/5dc5abbaa9726900084045a2/1:1/w_2100,h_2100,c_limit/Travis-Scott.jpg" width="30" height="30">
    <label for="name"><b>Chris</b></label>
    <br>
    <input type="comment" placeholder="Enter comment" name="psw" required>

    <button type="comment">Post</button>

</div>
</main>

<%- include('./partials/footer') %>
