<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<link href="/style/basic.css" rel="stylesheet" type="text/css">
<link href="/style/custom.css" rel="stylesheet" type="text/css">

<%- include('partials/header')  %>

<main>
    <h1>profile</h1>
    <br>
<div class="card">
<div class="card-body">

<img src="https://estaticos.elperiodico.com/resources/jpg/3/2/1504886858323.jpg" width="70"  alt="">
    <p4> Rihanna </p4>
    <button type="submit">followers</button>
    <button type="submit"><var> 12 </var></button>
    <button type="submit">following</button>
    <button type="submit"><var> 10 </var></button>

    <div class="card">
    <div class="card-body">
    <div class = "container">
    <div class = "gallery">

<img class ="gallery image" src="https://estaticos.elperiodico.com/resources/jpg/3/2/1504886858323.jpg"   alt="">
<img class ="gallery image" src="https://data.whicdn.com/images/312031597/original.jpg"   alt="">
<img class ="gallery image"src="https://upload.wikimedia.org/wikipedia/commons/c/c2/Rihanna_Fenty_2018.png" alt="">
<img class ="gallery image" src="https://media1.popsugar-assets.com/files/thumbor/gSiX-8KT-reNMHluOMEV09J51Ls/0x0:1916x1916/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2020/01/16/784/n/1922398/fa8875dd5e20a25f34ce44.33345613_/i/Sexy-Rihanna-Pictures.jpg"  alt="">

    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </main>
<%- include('./partials/footer') %>


