<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


<link href="/style/register.css" rel="stylesheet" type="text/css">
<link href="/style/similar.css" rel="stylesheet" type="text/css">


<main class="btn-background">
    <div align="center" >
        <article class="article_centering">
            <div class="card btn-card">
                <h1 class="name-inst">
                    <img src="https://i.pinimg.com/originals/f9/f0/7a/f9f07a203874e68dd521ff8f8b12d0b7.gif" width=170px height=70px alt="">
                </h1>
                <div class="card-body">
                    <h3><%= msg %></h3>
                     <form action="/register" method="post" class="clearfix">

                         <div class="spacing-input">
                             <input type="text" name="username" placeholder="Enter Username" required autocomplete="off">
                             <input type="email" name="email" placeholder="Enter Email" required autocomplete="off chrome-off" >
                             <input id="password" type="password" name="password"placeholder="Enter password" required autocomplete="off">
                             <input type="password" name="validate_password" oninput="check(this)" placeholder="Reenter password" required autocomplete="off">
                         </div>


                         <script language='javascript' type='text/javascript'>
                             function check(input) {
                                 if (input.value != document.getElementById('password').value) {
                                     input.setCustomValidity('Password Must be Matching.');
                                 } else {
                                     // input is valid -- reset the error message
                                     input.setCustomValidity('');
                                 }
                             }
                         </script>

                         <div class="float-end mt-4">
                             <button class="btn btn-button ">create</button>
                         </div>

                    </form>
                </div>
            </div>
            <div class="card btn-card">
                <p style="vertical-align: inherit">Do you have an account?
                <a href ='/';>Log in</a>
                </p>
            </div>
        </article>
    </div>
</main>

<%- include('./partials/footer') %>
