<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<link href="/style/basic.css" rel="stylesheet" type="text/css">
<link href="/style/custom.css" rel="stylesheet" type="text/css">



<main>
    <div  align="center" >
      <div class="col-sm-6 p-5">
           <div class="card btn-login-card">
                <div class="card-body">
                    <h3><%= msg %></h3>
                     <form action="/register" method="post" class="clearfix">

                         <label class="register-label" aria-label="left">Username</label>
                         <input type="text" name="username" class="register-input" placeholder="Enter Username" required autocomplete="off">

                         <label class="register-label">Email</label>
                         <input type="email" name="email" class="register-input" placeholder="Enter Email" required autocomplete="off chrome-off" >

                         <label class="register-label">Password</label>
                         <input type="text" name="password" class="register-input" placeholder="Enter password" required autocomplete="off">

                         <label class="register-label">Reenter Password</label>
                         <input type="text" name="validate-password" class="register-input" placeholder="Reenter password" required autocomplete="off">

                         <div class="float-end mt-4">
                             <button class="btn btn-button ">create</button>
                         </div>

                    </form>
                </div>
            </div>
      </div>
    </div>
</main>

<%- include('./partials/footer') %>
