<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<link href="/style/basic.css" rel="stylesheet" type="text/css">
<link href="/style/custom.css" rel="stylesheet" type="text/css">

<%- include('partials/header')  %>

<main>
    <div  align="center" >
      <div class="col-sm-6 p-5">
           <div class="card btn-login-card">
                <div class="card-body">
                     <form action="/login" method="get" class="clearfix">

                         <label class="register-label" aria-label="left">Username</label>
                         <input class="register-input" placeholder="Enter Username">

                         <label class="register-label">Email</label>
                         <input class="register-input" placeholder="Enter Email">

                         <label class="register-label">Password</label>
                         <input class="register-input" placeholder="Enter password">

                         <label class="register-label">Reenter Password</label>
                         <input class="register-input" placeholder="Reenter password">

                         <div class="float-end mt-4">
                             <button class="btn btn-button ">create</button>
                         </div>

                    </form>
                </div>
            </div>
      </div>
    </div>
</main>

<%- include('./partials/footer') %>
