<html style="background-color:#f1f3f5;">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

<link href="/style/register.css" rel="stylesheet" type="text/css">
<link href="/style/similar.css" rel="stylesheet" type="text/css">

<body>
<main class="btn-background">
    <div align="center">
        <article class="article_centering">
            <div class="card btn-card">
                <h1 class="name-inst">
                    <img src="/images/logo.png" width=170px height=70px alt="">
                </h1>
                <div class="card-body">
                    <h3><%= msg %></h3>
                    <form id="register-form" action="/register" method="post" class="clearfix">

                        <div id="register-div" class="spacing-input"></div>

                        <div class="mt-4">
                            <button class="btn btn-button ">create</button>
                        </div>

                    </form>
                </div>
            </div>
            <div class="card btn-card">
                <p style="vertical-align: inherit">Do you have an account?
                    <a href='/'>Log in</a>
                </p>
            </div>
        </article>
    </div>
</main>


<%- include('./partials/footer') %>
</body>
</html>

<script src="/scripts/register.js"></script>
<script type="text/javascript">
    window.addEventListener('load', loadForm)
</script>
