<link href="/style/basic.css" rel="stylesheet" type="text/css">
<link href="/style/custom.css" rel="stylesheet" type="text/css">

<%- include('partials/header')  %>

<main>
    <h1>search</h1>
</main>

<%- include('./partials/footer') %>
